/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-image: url("../light_honeycomb/light_honeycomb_@2X.png");
    background-color: white;
}


header {
  height: 100px;
  background: #4A5457;
}

.bl_logo {
  width: 300px;
  display: inline-block;
  margin: 15px 5px;
}

.links {
  padding: 20px;
  color: #BDA630;
}

.links:hover {
  font-weight: bold;
	color: white;
	text-decoration: none;
}

.top_links {
  text-align: right;
  font-family: 'Roboto Mono:400', monospace;
  position: absolute;
  right: 10px;
  top: 70px;
}

#static_link {
  color: white;
  padding: 20px;
  opacity: .6;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #4A5457;
}

a:hover {
  color: #C33926;
}

#container {
  width: 800px;
  height: 600px;
  position: relative;
  margin: 80px auto;
  background: #FFFFFF;
  border: 40px solid #4A5457;
}

#box_one {
  left: 0px;
  top: 0px;
}

#box_two {
  left: 200px;
  top: 0px;
}

#box_three {
  left: 400px;
  top: 0px;
}

#box_four {
  left: 600px;
  top: 0px;
}

#box_five {
  left: 0px;
  top: 200px;
}

#box_six {
  left: 200px;
  top: 200px;
}

#box_seven {
  left: 400px;
  top: 200px;
}

#box_eight {
  left: 600px;
  top: 200px;
}

#box_nine {
  left: 0px;
  top: 400px;
}

#box_ten {
  left: 200px;
  top: 400px;
}

#box_eleven {
  left: 400px;
  top: 400px;
}

#box_twelve {
  left: 600px;
  top: 400px;
}

.box_center {
  background-color: #FFFFFF;
  border: 1px solid #4A5457;
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;
  margin: auto;
}

.box_opaque:hover {
  background-color: #FFFFFF;
  opacity: .5;
}

.web_logo {
  display: block;
  margin: 25px auto;
}
