h1 {
  font-style: italic;
}

#blue {
  color: blue;
}

.cursive {
  font-style: italic;
  font-weight: bold;
  color: red;
}

.green {
  font-style: italic;
  font-weight: bold;
  background-color: green;
  color: #FFFFFF;
  width: 300px;

}
